DATABASE_URL="postgresql://username:password@localhost:5432/zahrtelkhlig?schema=public"
SESSION_SECRET="your-super-secret-jwt-signing-key-minimum-32-chars"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ADMIN_EMAIL="admin@zahrtelkhlig.com"
